# macOS system files
.DS_Store

# Editor settings
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env
.env.*

# Node.js (if you add it later)
node_modules/

# vite
vite/

# Build output
dist/
build/