* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height:100vh;
}

header {
  font-size: 20px;
  background: hsla(228, 93%, 23%, 0.814);
  color: white;

  padding: 0.5em;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;

  padding: 0.5em;
}

.accordion {
  width: 42em;

  margin-right: 0.5em;
}

footer {
  flex: 0 2.5em;

  display: flex;
  align-items: center;
  padding: 0.75em;

  font-size: 15px;
  background: hsl(180, 30%, 15%);
  color: white;
}

footer a {
  margin-left: auto;
}
