main {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 0.5em;
}

.content-box {
  display: flex;
  flex-direction: row;

  margin-bottom: 0.5em;

  #profile-box {
    margin-right: 0.5em;
    width: 35vw;
  }

  @media (orientation: portrait) {
    flex-direction: column;
    #profile-box {
      margin-right: 0;
      margin-bottom: 0.5em;
      width: 100%;
    }
    .card {
      width: 100%;
      margin-bottom: 0.5em;
    }
    .accordion {
      width: 100%;
      margin-bottom: 0.5em;
    }
  }
}

.card {
  width: 35vw;
  margin-right: 0.5em;
}

.accordion {
  width: 77vw;
  margin-right: 0.5em;
}

.schedule {
  width: 80vw;
  margin-right: 0.5em;
}

.github {
  width: 40vw;
  margin-right: 0.5em;
}
