.profile-page {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  grid-template-columns: minmax(250px, 30%) minmax(0, 1fr);
  display: grid;
  align-items: start;
  justify-content: center;
  gap: 2em;
  
  background: #E8EDF3;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 2em;
}

#profile-box {
  margin-right: 0.5em;
  width: 100%;
}

.card {
  width: 100%;
  margin-right: 0.5em;
}

.accordion {
  width: 100%;
  margin-right: 0.5em;
}

.schedule {
  width: 100%;
  margin-right: 0.5em;
}

.github {
  width: 100%;
  margin-right: 0.5em;
}

@media (max-width: 768px) {
 .content {
    grid-template-columns: minmax(0, 1fr);
    flex-direction: column;
    #profile-box {
      margin-right: 0;
      margin-bottom: 0.5em;
      width: 100%;
    }
    .card {
      width: 100%;
      margin-bottom: 0.5em;
    }
    .accordion {
      width: 100%;
      margin-bottom: 0.5em;
    }
  } 
}