@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height:100vh;
}

header {
  font-size: 1.5em;
  background: hsla(228, 93%, 23%, 0.814);
  color: white;

  padding: 0.5em;

  .nav-link:hover {
    text-decoration: underline;
    color: #007bff;
  }
}

@media (orientation: landscape) {
  .card {
    width: 35vw;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;

  @media (orientation: portrait) {
    flex-direction: column;
    .accordion {
      width: 100%;
      margin-bottom: 0.5em;
    }
  }
}

.accordion {
  width: 99%;

  margin: 0.5em;
}

footer {
  flex: 0 2.5em;

  display: flex;
  align-items: center;
  padding: 0.75em;

  font-size: 15px;
  background: hsl(180, 30%, 15%);
  color: white;
}

footer a {
  margin-left: auto;
}
